.contact-form {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 500px;
    margin-top: 50px;
    margin-left: 20px;

}

.contact-item {
    //margin: $xxs-size $s-size; 
    margin-bottom: 10px;
    border-color: #E8E8E8;
    border-width: 0.5px;
    border-radius: 2px;
}

.input {
    height: 30px;
}

.doubleinput {
    height: 60px;
}

.contact-button {
    background-color: $dark-blue;
    color: #fff;
    height: 30px;
    border-radius: 4px;
}