.work-hr {
    width: inherit;
    opacity: 0.5;
    margin: 0 $xxs-size;
    padding: 0 $xxs-size;
}

.work-title {
    font-size: 35px;
    font-weight:600;
    cursor:pointer;
}

.work-container {
    max-width: 900px;
}

.work-subtitle {
    font-size: 14px;
    opacity: 0.50;
    font-style: italic;
}

.work-aboutme-text {
    font-size: 14px;
}

