* {
  // box-sizing: border-box makes it to where your height and width specifications
  // do not include padding and margin. This can make sizing much easier.
  box-sizing: border-box; 
}

html {
  font-size: 62.5%;
  height: 100%;
}

a {
  text-decoration: inherit;
  color: inherit;
}

p {
  margin: 0;
}
/*
input[type=text], textArea[type=text] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#333;
}

input[type=submit] {
  padding:5px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}
*/
body {
  color: $dark-grey;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-size: $m-size;
  line-height: 1.6;
  height: inherit;
}

#app {
  height: inherit;
}

.container {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
